<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <a class="navbar-brand" href="#">Wispeer</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <!--li class="nav-item active">
        <a class="nav-link" href="#">Wisp <span class="sr-only">(current)</span></a>
      </li-->
      <!-- comming soon!
      <li class="nav-item">
        <a class="nav-link" href="#">Settings</a>
      </li>
    -->
    <li class="nav-item">
      <button *ngIf="this.trackerInfoShown" (click)="this.trackerInfoShown = false" class="btn btn-secondary"><<</button>
      <button *ngIf="!this.trackerInfoShown" (click)="this.trackerInfoShown = true" class="btn btn-secondary">>></button>
    </li>
      <li class="nav-item"  *ngFor="let t of trackers">
        <span  *ngIf="this.trackerInfoShown">
        <span class="nav-link">
          <span *ngIf="t.status !== 'error' && t.status !== 'closed' && t.status !== 'opened'" class="badge badge-default">{{t.name}}</span>
        <span *ngIf="t.status === 'error' || t.status === 'closed'" class="badge badge-danger">{{t.name}}</span>
        <span *ngIf="t.status === 'opened'" class="badge badge-success">{{t.name}}</span>
        </span>
        </span>
      </li>

      <li *ngIf="this.trackerInfoShown" class="nav-item">
        <button class="btn btn-outline-success my-2 my-lg-0" data-toggle="modal" (click)="open(addTrackerModal)">+</button>
      </li>
      <li class="nav-item">
        <span class="nav-link">{{nbPeer}} / {{maxPeers}}</span>
      </li>
    </ul>
    <button class="btn btn-primary my-2 my-lg-0" data-toggle="modal" data-target="#myLargeModalLabel" (click)="open(content)">Write a wisp</button>
  </div>
</nav>


<ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Wisp!</h4>
        <button type="button" class="close pull-right" (click)="d('cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-group">
          <label for="messageAuthor">Author: </label>
          <input [(ngModel)]="currentAuthor" class="form-control mr-sm-2" type="text" placeholder="Optional" name="messageAuthor">
          <label for="messageTitle">Title: </label>
          <input [(ngModel)]="currentTitle" class="form-control mr-sm-2" type="text" placeholder="Optional" name="messageTitle">
          <label for="messageInput">Message: </label>
          <textarea [(ngModel)]="currentMessage" class="form-control" name="messageInput" id="messageInput" rows="5"></textarea>
          <label for="messageLink">Link: </label>
          <input [(ngModel)]="currentLink" class="form-control mr-sm-2" type="url" placeholder="Optional" name="messageLink">
          <label for="messageMedia">Add a media: </label>
          <input type="file" class="form-control mr-sm-2" name="messageMedia" #file (change)="updateMediaFileUploadForm(file.files)">
          <br />
          <div>
          <span  *ngFor="let t of trackers">
              <button *ngIf="!this.isTrackerSelected(t)" class="badge badge-pill badge-default" (click)="toggleTracker(t)">{{t.name}}</button>
            <!--span *ngIf="t.status === 'error' || t.status === 'closed'" class="badge badge-pill badge-danger">{{t.name}}</span-->
            <button *ngIf="this.isTrackerSelected(t)" class="badge badge-pill badge-success" (click)="toggleTracker(t)">{{t.name}}</button>
          </span>
        </div>
          <br />

          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="sendMessage(); c('submit')">Wisp!</button>
        </form>
      </div>
</ng-template>

<ng-template #chooseTrackerModal let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Choose message tracker(s)</h4>
        <button type="button" class="close pull-right" (click)="d('cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-group">
          <div>
          <span  *ngFor="let t of trackers">
              <button *ngIf="!this.isTrackerCurrentlySelected(t)" class="badge badge-pill badge-default" (click)="toggleCurrentTracker(t)">{{t.name}}</button>
            <!--span *ngIf="t.status === 'error' || t.status === 'closed'" class="badge badge-pill badge-danger">{{t.name}}</span-->
            <button *ngIf="this.isTrackerCurrentlySelected(t)" class="badge badge-pill badge-success" (click)="toggleCurrentTracker(t)">{{t.name}}</button>
          </span>
        </div>
          <br />

          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="c('submit')">Ok</button>
        </form>
      </div>
</ng-template>

<ng-template #addTrackerModal let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add Tracker</h4>
        <button type="button" class="close pull-right" (click)="d('cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-group">
          <label for="trackerName">Tracker name: </label>
          <input [(ngModel)]="currentTrackerName" class="form-control mr-sm-2" type="text" placeholder="wispeer-tracker-en" name="trackerName">
          <label for="trackerURL">Tracker URL: </label>
          <input [(ngModel)]="currentTrackerURL" class="form-control mr-sm-2" type="text" placeholder="wss://torrero.fr/wispeer-tracker" name="trackerURL">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="addCurrentTracker(); c('submit')">Add tracker</button>
        </form>
      </div>
</ng-template>

<div class="container">
  <br>
  <br>
  <br>
  <br>
  <span *ngFor="let m of messages; let idMessage = index">
  <div class="card"  *ngIf="!m.dissmissed">


    <div class="card-header">
      <div class="media">
        <img class="d-flex align-self-center" width="64" height="64" *ngIf="this.authorImages[m.author] && this.authorImages[m.author].img" class="col-sm-1" [src]="_DomSanitizationService.bypassSecurityTrustUrl(this.authorImages[m.author].img)">
        <div class="media-body ml-3">
          <h5 class="mt-0" *ngIf="m.title"> {{m.title}} </h5>
          [
          <span *ngFor="let t of m.trackers">
              <span *ngIf="t" class="badge badge-pillbadge-pill badge-default">{{t.name}}</span>
          </span>

          <span *ngFor="let t of m.proposedTrackers">
            <a *ngIf="t" class="badge badge-pillbadge-pill badge-primary" (click)="this.currentTrackerName=t.name;this.currentTrackerURL=t.url;open(addTrackerModal)">{{t.name}}</a>
          </span>
          ]
          <button [disabled]="m.isScreamed" (click)="openSettingsForMessage(m, chooseTrackerModal)" class="btn btn-secondary btn-sm">⚙</button>
        </div>
      </div>
    </div>

    <div class="card-block">
      <!--h4 *ngIf="m.title" class="card-title">{{m.title}}</h4-->
      <div class="card-text" *ngFor="let s of m.message.split('\n')">
        {{s}}
        <br/>
      </div>
      <footer *ngIf="m.author" class="blockquote-footer">{{m.author}} - <cite title="Date">{{m.date | date}}</cite></footer>
      <footer *ngIf="!m.author" class="blockquote-footer"><em>Unknown</em> - <cite title="Date">{{m.date | date}}</cite></footer>
      <div *ngIf="m.link">
        <br> Link: <a [href]="m.link">{{m.link}}</a>
        <br>
      </div>
      <div>
      <div [attr.id]="'media'+idMessage" *ngIf="m.media">{{addMediaToDOM(m.media, "media"+idMessage)}}</div>
    </div>
      <br>
      <button [disabled]="m.isScreamed" (click)="sendMessage(m)" class="btn btn-primary">Scream!</button><button [disabled]="m.isScreamed" (click)="this.setDissmissedMessage(m, true)" class="btn btn-secondary">Hide</button>

    </div>
  </div>
</span>


</div>
